.sqcontainer {
    display: grid;
    grid-template-columns: repeat(var(--blockcount), 1fr);
    width: 85vh;
    height: 85vh;
    border: black 1px solid;

}

.block {
    border: black 1px solid; 
}

.fill{
    background-color: var(--pencolor);
}

.gridcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.btns {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 12px;
    margin-left: 10%; 
    gap: 12px;
    width: fit-content;
}

#boxvalue, #reset {
    min-height: 40px; 
    font-size: 1.2rem;
    width: fit-content;
}

.maincontainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px
}


